@model TareaDB
@using Registro.Models
@{
    ViewBag.Title = "TaskDetails";
}

<div class="modal-content">
    <div class="modal-header">
        <div class="modal-title-wrapper">
            <button type="button" class="close close-btn" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <h4 class="modal-title create-title">@Html.DisplayFor(model => model.Title)</h4>
    </div>
    <div class="modal-body">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Owner)
            </dt>

            <dd>
                @Html.Action("GetNameById", "Account", new { id = @Model.Owner })
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Asignee)
            </dt>

            <dd>
                @Html.Action("GetNameById", "Account", new { id = @Model.Asignee })
            </dd>

            <dt>
                Estimated time
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TEstimated)
            </dd>

            <dt>
                Time tracked
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TTracked)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

        </dl>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
</div>