@model TareaDB
@using Registro.Models
@{
    ViewBag.Title = "TaskDetails";
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")

<script>
    function loadData(){
        t1 = document.getElementById("asignee").innerHTML;
        t2 = document.getElementById("title").innerHTML;

        console.log(t1)
        console.log(t2)

        document.getElementById("input-asignee").value = t1.trim()
        document.getElementById("input-title").value = t2.trim()
    }
</script>

<div class="modal-content">
    <div class="modal-header">
        <div class="modal-title-wrapper">
            <button type="button" class="close close-btn" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <h4 class="modal-title create-title" id="title">@Model.Title</h4>
    </div>
    <div class="modal-body">
        @using (Html.BeginForm("UpdateTask", "Account", FormMethod.Post, new { enctype = "multipart/form-data", id = "contactForm", onsubmit = "return loadData()" }))
        {
            this.TempData["id"] = Model._id;

            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Owner)
                </dt>
                <dd id="owner">
                    @Html.Action("GetNameById", "Account", new { id = @Model.Owner })
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Asignee)
                </dt>

                <dd id="asignee">
                    @Html.Action("GetNameById", "Account", new { id = @Model.Asignee })
                </dd>

                <dt>
                    Estimated time
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TEstimated)
                </dd>

                <dt>
                    Time tracked
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TTracked)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>


                <dd>
                    <div class="mb-3">
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="description">@Model.Description</textarea>
                    </div>
                </dd>
            </dl>
            <input id="input-asignee" style="display: none" name="asignee" />
            <input id="input-title" style="display: none" name="title" />
            <div class="modal-footer">
                <button type="submit" class="btn btn-default">Update</button>
            </div>
        }

    </div>
</div>