@model List<TareaDB>
@using Registro.Models

@{
    ViewBag.Title = "Logged";
    UserProfileSessionData session = (UserProfileSessionData)Session["UserProfile"];
}
<head>
    <link href="@Url.Content("~/Content/logged.css")" rel="stylesheet" type="text/css" />
</head>

@section scripts {
    <script>
        $("#showtable").on("click", "#task", function () {
            var i = this.getAttribute('data-id')
            $.ajax({
                url: "/Account/TaskDetails",
                data: { index: i },
                success: function (data) {
                    $("#showmodal .modal-dialog").html(data);
                    $("#showmodal").modal("show");
                }
            });
        });
    </script>
    <script>
        $("#tcreate").on("click", "#create-task", function () {
            $.ajax({
                url: "/Account/CreateTask",
                data: {},
                success: function (data) {
                    $("#showmodal .modal-dialog").html(data);
                    $("#showmodal").modal("show");
                }
            });
        });
    </script>
}
<header>
    <div class="head ">
        <div class="title-menu">
            <h1 class="title-menu">Workspace</h1>
        </div>
        <div class="details-container">
            <div class="details-display">
                <p class="profile-name">@session.Name @session.LastName</p>
                <a href="@Url.Action("Logout")">Log out</a>
            </div>
            <div>
                <img src="@Session["ProfilePicture"]" alt="profile" class="avatar">
            </div>
        </div>
    </div>
</header>
<content>
    <div class="boxbackground">
        <div id="tcreate">
            @*@using (Html.BeginForm("CreateTask", "Account", FormMethod.Get))
            {*@
                <button type="submit" class="btn" id="create-task">Create new task</button>
            @* } *@
        </div>

    <div class="table-container">
        <table class="rwd-table" id="showtable">
            <tr>
                <th>Description</th>
                <th>Estimated time</th>
                <th>Tracked time</th>
                <th>Task type</th>
                <th>Asignee</th>
            </tr>
            @foreach (var item in Model)
            {
                var index = Model.IndexOf(item);
                //
                <tr style="width: 100%" data-id="@index" name="row" id="task">
                    <td>
                        @Html.DisplayFor(model => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.TEstimated)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.TTracked)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Type.Title)
                    </td>
                    <td>
                        @Html.Action("GetNameById", "Account", new { id = item.Asignee })
                    </td>
                </tr>
            }
        </table>
        <div id="showmodal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">

            </div>
        </div>
    </div>
    </div>
</content>