@model List<TareaDB>
@using Registro.Models

@{
    ViewBag.Title = "Logged";
    UserProfileSessionData session = (UserProfileSessionData)Session["UserProfile"];
}
<head>
    <link href="@Url.Content("~/Content/logged.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/LeftMenu.css")" rel="stylesheet" type="text/css" />
</head>
@section scripts {
    <script>
        $("#showtable").on("click", "#task", function (event) {
            console.log(event)
            var i = this.getAttribute('data-id')
            $.ajax({
                url: "/Account/TaskDetails",
                data: { index: i },
                success: function (data) {
                    $("#showmodal .modal-dialog").html(data);
                    $("#showmodal").modal("show");
                }
            });
        });
    </script>
    
    <script>
        $("#showtable").on("click", "#abtnadd", function (event) {
            console.log(event)
            // detenemos la propagacion para 
            // que no se llame al evento del padre
            event.stopPropagation()
            var taskIndex = this.children[0].getAttribute('id').replace('add','')
            console.log(taskIndex)
            
            $.ajax({
                url: "/Account/_AddToGroup",
                type: 'GET',
                data: { index: taskIndex },
                success: function (data) {
                    $("#showmodal .modal-dialog").html(data);
                    $("#showmodal").modal("show");
                }
            });
        });
    </script>
    <script>
        $("#tcreate").on("click", "#create-task", function () {
            $.ajax({
                url: "/Account/CreateTask",
                data: {},
                success: function (data) {
                    $("#showmodal .modal-dialog").html(data);
                    $("#showmodal").modal("show");
                }
            });
        });
    </script>
    <script>
        $(document).ready(function () {

            $(".sidebar-menu > li.have-children a").on("click", function (i) {
                i.preventDefault();
                if (!$(this).parent().hasClass("active")) {
                    $(".sidebar-menu li ul").slideUp();
                    $(this).next().slideToggle();
                    $(".sidebar-menu li").removeClass("active");
                    $(this).parent().addClass("active");
                }
                else {
                    $(this).next().slideToggle();
                    $(".sidebar-menu li").removeClass("active");
                }
            });
        });
    </script>
    <script>
        $('#new-group').on('click', function () {
            $.ajax({
                type: 'GET',
                url: '/Groups',
                success: function (data) {
                    $('body').html(data)
                }
            });
        })

        $('#join-group').on('click', function () {
            $.ajax({
                type: 'GET',
                url: '/Groups/JoinGroup',
                success: function (data) {
                    $('body').html(data)
                }
            });
        })

        $('.option-group').on('click', function () {
            var gname = this.textContent;
            $.ajax({
                type: 'POST',
                url: '/Account/ShowTasksInGroup',
                data: { name: gname },
                success: function (data) {
                    $('body').html(data)
                }
            })
        })
    </script>
    <script>
        $(document).ready(function () {
            $('tr').mouseenter(function () {
                var id = this.getAttribute('data-id');
                $(`#${id}add`).css('visibility', 'visible')
            }).mouseleave(function () {
                var id = this.getAttribute('data-id');
                $(`#${id}add`).css('visibility', 'hidden')
            })
        })
    </script>
}
<header>
    <div class="head ">
        <div class="title-menu">
            <h1 class="title-menu">Workspace</h1>
        </div>
        <div class="details-container">
            <div class="details-display">
                <p class="profile-name">@session.Name @session.LastName</p>
                <a href="@Url.Action("Logout")">Log out</a>
            </div>
            <div>
                <img src="@Session["ProfilePicture"]" alt="profile" class="avatar">
            </div>
        </div>
    </div>
</header>
<content>
    <div class="boxbackground">
        <div class="sidebar-wrapper">
            <ul class="sidebar-menu">
                <li><span class="nav-section-title"></span></li>
                <li class="have-children">
                    <a href="#"><span class="fa fa-university"></span>Groups</a>
                    <ul>
                        <li><a href="#" id="join-group">Join to an existing group</a></li>
                        <li><a href="#" id="new-group">Create new group</a></li>
                    </ul>
                </li>
                <li class="have-children">
                    <a href="#" id="my-spaces"><span class="fa fa-tags"></span>My Spaces</a>
                    <ul>
                        @{ int i = 0; }
                        @foreach (var g in (List<Group>)Session["Grupos"])
                        {
                            <li class="option-group"><a href="#" index-value="@i">@g.Nombre</a></li>
                            i++;
                        }
                        @*<li><a href="#">Add Category</a></li>
                            <li><a href="#">View Categories</a></li>*@
                    </ul>
                </li>
                @*<li class="have-children">
                        <a href="#"><span class="fa fa-trophy"></span>Award</a>
                        <ul>
                            <li><a href="#">Add Award</a></li>
                            <li><a href="#">View Awards</a></li>
                        </ul>
                    </li>
                    <li class="have-children">
                        <a href="#"><span class="fa fa-gavel"></span>Jury</a>
                        <ul>
                            <li><a href="#">Add Jury</a></li>
                            <li><a href="#">View Juries</a></li>
                        </ul>
                    </li>
                    <li class="have-children">
                        <a href="#"><span class="fa fa-user-o"></span>Author</a>
                        <ul>
                            <li><a href="#">Add Author</a></li>
                            <li><a href="#">View Authors</a></li>
                        </ul>
                    </li>*@
                @*<li><a href="#"><span class="fa fa-picture-o"></span>Gallery</a></li>
                    <li class="have-children">
                        <a href="#"><span class="fa fa-flag"></span>Reports</a>
                        <ul>
                            <li><a href="#">View Judging points</a></li>
                            <li><a href="#">Create Acceptances List</a></li>
                            <li><a href="#">Create Awarded List</a></li>
                            <li><a href="#">View Candidates for Awards</a></li>
                            <li><a href="responsive_table.html">Send Report Cards</a></li>
                        </ul>
                    </li>
                    <li><a href="#"><span class="fa fa-envelope-o"></span>Messages</a></li>
                    <li><a href="#"><span class="fa fa-gear"></span>Configuration</a></li>*@
            </ul>
        </div>

        <div class="table-container">
            <div id="tcreate">
                @*@using (Html.BeginForm("CreateTask", "Account", FormMethod.Get))
                    {*@
                <button type="submit" class="btn" id="create-task">Create new task</button>
                @* } *@
            </div>
            <table class="rwd-table" id="showtable">
                <tr>
                    <th></th>
                    <th>Title</th>
                    <th>Estimated time</th>
                    <th>Tracked time</th>
                    <th>Task type</th>
                    <th>Asignee</th>
                </tr>
                @foreach (var item in Model ?? Enumerable.Empty<TareaDB>())
                {
                    var index = Model.IndexOf(item);
                    var btnaddId = index + "add";
                    <tr style="width: 100%" data-id="@index" name="row" id="task">
                        <td class="btnsec">
                            <a href="#" id="abtnadd">
                                <img src="@Url.Content("~/Content/add.png")" alt="btnimage" id="@btnaddId" class="addbtn" />
                            </a>
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.TEstimated)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.TTracked)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Type.Title)
                        </td>
                        <td>
                            @Html.Action("GetNameById", "Account", new { id = item.Asignee })
                        </td>
                    </tr>
                }
            </table>
            <div id="showmodal" class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">

                </div>
            </div>
        </div>
    </div>
</content>