<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/login.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/JoinGroup.css")" rel="stylesheet" type="text/css" />
    <title>Taskker</title>
    @*<script src="https://code.jquery.com/jquery-1.10.2.js"></script>

        <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>*@
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="@Scripts.Url("~/Scripts/bootstrap.min.js")"></script>
    <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" />
    <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
@* RenderBody() renderiza la view que se retorna desde el controlador
   @Html.ActionLink() se utiliza para crear anchors
*@
<body>
    @RenderBody()
    @*@Scripts.Render("~/bundles/jquery")*@
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @Scripts.Render("~/Scripts/utils.js")
    @RenderSection("scripts", required: false)
</body>
</html>